.flex {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    background-color: darkgreen;
    border-radius: 15px;
    padding: 10px;
    color: whitesmoke;
}

.flex  a{
    text-decoration: none;
    color: whitesmoke;

}

.big-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.a-home {
    color: whitesmoke;
    text-decoration: none;
    margin-bottom: 10px;
}

.a-home:hover {
    color: rgb(3, 175, 3);
    text-decoration: underline;
}

.a-home:visited {
    text-decoration: none;
}
.home-singlehike {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    border: 1px solid rgb(25, 25, 25);
    padding: 5px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: darkgreen;
}