body{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: rgb(25, 25, 25);
}
button{
    border-radius: 50px;
    height: 50px;
    min-width: 100px;
}
.hikes-box {
    width: 40vw;
    margin: 25px;
    background-color: rgb(0, 100, 0, 0.7);
    border-radius: 15px;
    padding: 20Px;
    color: whitesmoke;
}

.hikes-box-h3 {
    margin-bottom: 10px;
    font-size: x-large;
}

.hikes-box-h5 {
    margin-bottom: 10px;
    font-size: large;
}
.hikes-box-p{
    white-space: pre-line;
    margin-bottom: 10px;
    font-size: medium;
}
.hikes-box-p a{
    text-decoration: none;
    color: whitesmoke;
}
.main-block {
    background-image: url(../IMG/Home.png);
    background-attachment: fixed;
    background-position: initial;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 245, 0.5);
    padding: 15px;
}
.form-container{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 100, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
}