footer {
  background-image: url("../IMG/footer.png");
  background-size: cover;
}
.down {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signature {
  background-position: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding: 0 20px;
}
