.flex {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    background-color: darkgreen;
    border-radius: 15px;
    padding: 6Px;
    color: white;
}

.big-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.hikes-box {
    height: 200px display: flex;
    margin: 25px;
    background-color: darkgreen;
    border-radius: 15px;
    padding: 6Px;
    color: white;
}

.hikes-box-h3 {
    margin-bottom: 10px;
    font-size: x-large;
}

.hikes-box-h5 {
    margin-bottom: 10px;
    font-size: large;
}

.hikes-box-p {
    margin-bottom: 10px;
    font-size: medium;
}

</style>