/*-----------------IMPORT-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*------------------BODY------------------------*/
.body-404{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
/*-----------------HEADER-----------------------*/

.h2-404{
    margin: 3% auto;
    text-decoration: underline;
}

/*-----------------MAIN-------------------------*/

.secondeh1{
    margin-top: 10%;
}

.secondeh1:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}

.h3-404{
    margin-bottom: 3%;
}

.p-404{
    font-size: 0.9rem;
}

/*-----------------FOOTER-----------------------*/

.nav-404{
    margin-top: 10%;
}

.a-404{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 5px solid red;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
}

.a-404:hover{
    color: rgb(255, 40, 40);
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}